
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-JWj {
  width: 100%;
  position: relative;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 3.8rem 11.4rem 9.1rem 13.1rem;
  overflow: hidden;
  flex-direction: column;
  background-color: #0c0b0b;

  .auto-group-3btj-z2B {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0rem 0.2rem 8.2rem 2rem;
    width: calc(100% - 2.2rem);
    height: 11rem;

    .auto-group-7q2v-R11 {
      flex-shrink: 0;
      margin-right: 81.5rem;
      width: 15.4rem;
      height: 100%;
      position: relative;

      .logo-for-krumble-2-2-Ldm {
        top: 0;
        background-size: 100% 100.506%;
        background-position: 0 -0.0167rem;
        background-image: url('REPLACE_IMAGE:1b79f8b36bcaa68296cb74ea6548b17d68f1de1e');
        width: 9rem;
        height: 6.6rem;
        position: relative;
        left: 3.2rem;
      }
      .krumble-onF {
        cursor: pointer;
        top: 5.6rem;
        line-height: 1.5;
        color: #7c1e9f;
        display: flex;
        align-items: baseline;
        width: 15.4rem;
        position: absolute;
        left: 0;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 5.4rem;
        font-size: 3.6rem;
        font-weight: 800;

        .krumble-onF-sub-0 {
          font-size: 3.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #7c1e9f;
          font-family: Poppins, 'Source Sans Pro';
        }
        .krumble-onF-sub-1 {
          font-family: Poppins, 'Source Sans Pro';
          font-size: 3.6rem;
          font-weight: 500;
          line-height: 1.5;
          color: #ffffff;
        }
      }
    }
    .launching-soon-Qoy {
      flex-shrink: 0;
      margin-top: 1.2rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.5;
      color: #7c1e9f;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .auto-group-sw5x-8EB {
    flex-shrink: 0;
    margin: 0rem 0rem 11.1rem 3rem;
    width: calc(100% - 3rem);
    height: 46.7rem;
    display: flex;
    align-items: center;

    .purplecrumicon-1-cv3 {
      width: 46.7rem;
      height: 46.7rem;
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 11rem;
    }
    .auto-group-wadb-vA3 {
      margin: 3.9rem 0rem 3rem 0rem;
      width: 58.8rem;
      height: calc(100% - 6.9rem);
      flex-shrink: 0;

      .auto-group-7sgv-2ym {
        margin: 0rem 0rem 3.7rem 0.3rem;
        width: 38.5rem;
        height: 14.2rem;
        position: relative;

        .krumble-xMd {
          position: absolute;
          top: 0;
          font-size: 6.4rem;
          line-height: 1.5;
          color: #7c1e9f;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          width: 27.6rem;
          height: 9.6rem;
          left: 0;
          font-weight: 800;
          align-items: baseline;

          .krumble-xMd-sub-0 {
          }
          .krumble-xMd-sub-1 {
            font-weight: 800;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 6.4rem;
          }
        }
        .introducing-krumble-jWo {
          position: absolute;
          left: 0;
          top: 8.8rem;
          line-height: 1.5;
          color: rgba(255, 255, 255, 0.8500000238);
          font-family: Poppins, 'Source Sans Pro';
          height: 5.4rem;
          font-size: 3.6rem;
          font-weight: 500;
          white-space: nowrap;
          width: 38.5rem;
        }
      }
      .an-augmented-reality-based-social-media-application-where-users-can-express-themselves-through-interacting-with-krumslets-dropthe-krums-ETZ {
        color: rgba(255, 255, 255, 0.8500000238);
        font-family: Poppins, 'Source Sans Pro';
        margin-bottom: 3.2rem;
        max-width: 58.8rem;
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 1.5;
      }
      .auto-group-ujvv-3vo {
        border: solid 0.1rem rgba(244, 228, 228, 0.8000000119);
        border-radius: 2.4rem;
        margin: 0rem 40.5rem 0rem 0.3rem;
        box-sizing: border-box;
        padding: 0.7rem 2.2rem 0.6rem 2.9rem;
        width: calc(100% - 40.8rem);
        display: flex;
        align-items: center;

        .join-now-9U3 {
          margin-right: 0.8rem;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #7c1e9f;
          white-space: nowrap;
          flex-shrink: 0;
          cursor: pointer;
          font-family: Poppins, 'Source Sans Pro';
        }
        .arrow-1-GHm {
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 2.5rem;
          height: 0;
          text-decoration-line: none;
          z-index: 1;
        }
      }
    }
  }
  .line-2-ZXm {
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.3899999857);
    flex-shrink: 0;
    margin: 0rem 9.1rem 5.6rem 7.4rem;
    width: calc(100% - 16.5rem);
  }
  .about-Gh5 {
    font-size: 3.2rem;
    font-weight: 500;
    text-decoration-line: underline;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    margin: 0rem 2.5rem 2rem 0rem;
    line-height: 1.5;
    color: #7c1e9f;
    flex-shrink: 0;
  }
  .krumble-is-a-upcoming-social-mobile-application-that-allows-users-to-create-collect-and-comment-on-krums-digital-images-with-personalized-messages-superimposed-onto-the-real-world-new-culture-yrP {
    margin: 0rem 1.7rem 9.7rem 0rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8500000238);
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    flex-shrink: 0;
    max-width: 59.7rem;
    text-align: center;
    font-size: 2.4rem;
  }
  .line-1-Avs {
    margin: 0rem 9.1rem 9.4rem 7.4rem;
    width: calc(100% - 16.5rem);
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.3899999857);
    flex-shrink: 0;
  }
  .auto-group-ej6r-VCT {
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0rem 4.9rem 1rem 0rem;
    display: flex;

    .auto-group-1ivq-R67 {
      margin: 0.9rem 21.2rem 0rem 0rem;
      box-sizing: border-box;
      padding-top: 1.8rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .logo-for-krumble-2-1-voZ {
        flex-shrink: 0;
        width: 11.7rem;
        height: 8.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .krumble-G6j {
        font-weight: 800;
        line-height: 1.5;
        color: #7c1e9f;
        margin-bottom: 1.6rem;
        font-size: 3.6rem;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;

        .krumble-G6j-sub-0 {
          font-size: 3.6rem;
          font-weight: 600;
          line-height: 1.5;
          color: #7c1e9f;
          font-family: Poppins, 'Source Sans Pro';
        }
        .krumble-G6j-sub-1 {
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          font-size: 3.6rem;
        }
      }
    }
    .auto-group-ar1t-mxb {
      margin-right: 12.6rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .community-Xgs {
        font-weight: 500;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8500000238);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 4.2rem;
        font-size: 2.2rem;
      }
      .about-us-EbH {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6700000167);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-4na1-yHy {
      margin-right: 13.1rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .links-8As {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 4.2rem;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8500000238);
      }
      .terms-of-use-euu {
        font-weight: 400;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6000000238);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
      }
    }
    .auto-group-zje9-Nb1 {
      width: 14.2rem;
      flex-shrink: 0;

      .social-media-Xio {
        margin-bottom: 4.2rem;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.8500000238);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-gexu-GgP {
        margin-right: 0.4rem;
        width: calc(100% - 0.4rem);
        display: flex;
        align-items: center;

        .instagram-18B {
          margin: 0rem 0.8rem 0.1rem 0rem;
          width: 2.5rem;
          height: 2.5rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .instagram-KuZ {
          font-weight: 400;
          line-height: 1.5;
          color: rgba(255, 255, 255, 0.6700000167);
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
        }
      }
    }
  }
  .auto-group-jrmp-pjq {
    margin: 0rem 5.5rem 14.4rem 0rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;

    .create-collect-and-comment-on-krums-MDy {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.8500000238);
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 16.7rem;
      max-width: 29.7rem;
    }
    .auto-group-mv3f-3sV {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0.4rem 17.8rem 0rem 0rem;

      .security-Num {
        flex-shrink: 0;
        margin-bottom: 2.2rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
        color: rgba(255, 255, 255, 0.6700000167);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .careers-WWB {
        color: rgba(255, 255, 255, 0.6700000167);
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.5;
      }
    }
    .privacy-policy-esH {
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.6000000238);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0.4rem 12.4rem 0rem 0rem;
      font-size: 2rem;
      font-weight: 400;
    }
    .linkedin-xd5 {
      object-fit: cover;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0.7rem 0.8rem 0rem 0rem;
      width: 2.4rem;
      height: 2.4rem;
    }
    .linkedin-HQT {
      font-size: 2rem;
      font-weight: 400;
      line-height: 1.5;
      color: rgba(255, 255, 255, 0.6700000167);
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 0.4rem;
    }
  }
  .krumble-all-right-reserved-QV5 {
    white-space: nowrap;
    flex-shrink: 0;
    margin-right: 3.9rem;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.6000000238);
    font-family: Poppins, 'Source Sans Pro';
  }
}
