
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.desktop-2-Vi7 {
  padding: 6.9rem 11.7rem 8.2rem 11.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  background-color: #0c0b0b;

  .auto-group-heeh-bWF {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 6.6rem;
    width: 100%;

    .group-2-k8F {
      cursor: pointer;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-right: 1.3246rem;
      width: 2.5754rem;
      height: 3.4rem;
    }
    .join-waitlist-H8B {
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 1.5;
      color: #7c1e9f;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 77.2rem;
    }
    .launching-soon-zoH {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-top: 1.2rem;
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1.5;
      color: #7c1e9f;
    }
  }
  .group-1-izB {
    margin: 0rem 51.5rem 3.1rem 52.5rem;
    width: calc(100% - 104rem);
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .logo-for-krumble-2-2-rqV {
      height: 12.1898rem;
      position: relative;
      background-size: 100% 100.506%;
      background-position: 0 -0.0309rem;
      background-image: url('REPLACE_IMAGE:1b79f8b36bcaa68296cb74ea6548b17d68f1de1e');
      flex-shrink: 0;
      margin: 0rem 0rem 0.01rem 0.01rem;
      width: 16.6224rem;
    }
    .krumble-LEs {
      white-space: nowrap;
      font-size: 4rem;
      line-height: 1.5;
      color: #7c1e9f;
      align-items: baseline;
      flex-shrink: 0;
      font-weight: 800;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;

      .krumble-LEs-sub-0 {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #7c1e9f;
        font-family: Poppins, 'Source Sans Pro';
      }
      .krumble-LEs-sub-1 {
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
  }
  .the-app-will-be-provided-to-people-on-invite-only-basis-send-krumble-on-our-instagram-or-x-handle-along-with-your-mail-id-to-get-the-priority-preference-will-be-given-to-early-subscribers-Qtw {
    line-height: 1.5;
    flex-shrink: 0;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8500000238);
    font-family: Poppins, 'Source Sans Pro';
    margin: 0rem 0rem 3.7rem 0.3rem;
    max-width: 99.8rem;
  }
  .em{
    background: transparent;
    color: #e3d8d8;
    margin: 0rem 43.1rem 3rem 43.2rem;
      padding: 0.7rem 2.2rem 0.6rem 3.5rem;
      border: solid 0.1rem rgba(244, 228, 228, 0.8000000119);
      border-radius: 1.8rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 86.3rem);
  }
  .name{
    background: transparent;
    color: #e3d8d8;
    margin: 0rem 43.1rem 3rem 43.2rem;
      padding: 0.7rem 2.2rem 0.6rem 3.5rem;
      border: solid 0.1rem rgba(244, 228, 228, 0.8000000119);
      border-radius: 1.8rem;
      flex-shrink: 0;
      box-sizing: border-box;
      width: calc(100% - 86.3rem);
  }
    // .auto-group-ckcd-RJF {
    //   margin: 0rem 43.1rem 3rem 43.2rem;
    //   padding: 0.7rem 2.2rem 0.6rem 3.5rem;
    //   border: solid 0.1rem rgba(244, 228, 228, 0.8000000119);
    //   border-radius: 1.8rem;
    //   flex-shrink: 0;
    //   box-sizing: border-box;
    //   width: calc(100% - 86.3rem);
    //   display: flex;
    //   align-items: center;
    //   color: #0c0b0b;
    //   .email-id-8Cf {
    //     background: transparent;
        
    //     font-weight: 400;
    //     line-height: 1.5; 
    //     color: rgba(0, 0, 0, 0.49);
    //     font-family: Poppins, 'Source Sans Pro';
    //     white-space: nowrap;
    //     flex-shrink: 0;
    //     margin-right: 18.7rem;
    //     font-size: 2rem;
    //   }
  }
  .auto-group-ruuk-mmR {
    width: calc(100% - 103.1rem);
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    align-items: center;
    border: solid 0.1rem rgba(244, 228, 228, 0.8000000119);
    box-sizing: border-box;
    margin: 0rem 51.3rem 8.4rem 51.8rem;
    height: 4.3rem;
    color: #7c1e9f;
    display: flex;
    flex-shrink: 0;
    font-size: 2rem;
    font-weight: 600;
    white-space: nowrap;
    justify-content: center;
    border-radius: 2.4rem;
    cursor: pointer;
  }
  .line-2-2BZ {
    flex-shrink: 0;
    margin-left: 9.1rem;
    width: 103rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.3899999857);
  }
  
//   @media(width<450px){
//     html {
//       font-size:25.5%;
//     }
//     * {
//       margin: 0;
//       padding: 0;
//     }
//     .desktop-2-Vi7 {
//       padding: 0;
//       width: 75%;
//       overflow: hidden;
//       position: relative;
//       display: flex;
//       box-sizing: border-box;
//     }
    
//       .auto-group-heeh-bWF {
//         display: flex;
//         align-items: center;
//         flex-shrink: 0;
//         margin-bottom: 6.6rem;
//         width: 75%%;
//   }
// }
  

// @media(width<380){
//   .desktop-2-Vi7 .group-1-izB {
//     margin: 0;
//     margin-top: 10px;
//     margin-bottom: 10px;
//     width: 20rem;
//     display: flex;
//     flex-direction: column;
//     flex-shrink: 0;
//   }
// }
// @media(width<390){
//   .desktop-1-JWj .auto-group-3btj-z2B .auto-group-7q2v-R11 {
//     margin-right: 0.5rem;
//     width: 10.4rem;
//     height: 100%;
//     position: relative;
//     flex-shrink: 0;
//   }

// }
